body{
    width:100%;
    margin: auto;
    padding-bottom:5px;
}

.jumbotron{
    background-color: white;
}


.hide {
    display:none;
}

.center{
  text-align: center;
}
.w80
{
    width:60%;
    margin:auto;
}
.card{
   padding:2px;
}

.list-group-item{
    font-size: 10px;
}

.card-header{
    padding:5px;
}
@media only screen and (max-width: 600px) {
    .w80 { 
        width:100%;
        margin:auto;

  }}