body{
    width:100%;
    margin: auto;
    padding-bottom:5px;
}

.jumbotron{
    background-color: white;
}


.hide {
    display:none;
}

.center{
  text-align: center;
}
.w80
{
    width:80%;
    margin:auto;
}
.card{
   padding:2px;
}