body{
    width:100%;
    margin: auto;
    padding-bottom:5px;
}
.jumbotron{
    background-color: white;
}
.hide {
    display:none;
}
.center{
    display: flex;
    align-items: center;
  }
.w80
{
    width:60%;
    margin:auto;
}
.verticalline {
    border-left: 6px solid gray;
    height: 1em;
    display: inline-block;

  }
  .list-group-item{
      font-size:12px;
  }
@media only screen and (max-width: 500px) {
    .w80 { 
        width:100%;
        margin:auto;

  }}